<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
    <a routerLink="/products" class="navbar-brand p-0">
      <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <input  *ngIf="isUserAuthenticated()" #key class="form-control" type="search" placeholder="Search" aria-label="Search" (input)="search(key.value)" >
      <div class="navbar-nav ms-auto py-0 pe-4">
        <div *ngIf="isUserAuthenticated()" class="nav-item nav-link active"><a routerLink="/contact-info">Contact</a></div>
        <div class="nav-item nav-link active"> </div>
        <div *ngIf="isUserAuthenticated()" class="nav-item nav-link active"><a routerLink="/chefs">Team</a></div>
        <div *ngIf="!isUserAuthenticated()" class="nav-item nav-link active"><a routerLink="/login">login</a></div>
        <div *ngIf="!isUserAuthenticated()" class="nav-item nav-link active"><a routerLink="/signup">sign up</a></div>
        <div *ngIf="isUserAuthenticated()" (click)="logout()" class="nav-item nav-link active"><a routerLink="/login">logout</a></div>

        <app-notify-bell  *ngIf="isUserAuthenticated()"></app-notify-bell>

        <div *ngIf="isUserAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            ⚙️ Setting
          </a>

          <ul class="dropdown-menu dropdown-menu-end shadow-lg border-0 rounded-3"
              aria-labelledby="settingsDropdown">
            <li *ngIf="isUserAdmin()">
              <a routerLink="/addProducts" class="dropdown-item">➕ Add Product</a>
            </li>
            <li>
              <a routerLink="/order-history" class="dropdown-item">📦 My Orders History</a>
            </li>
            <li *ngIf="isUserAdmin()">
              <a routerLink="/add-category" class="dropdown-item">🏷️ Add Category</a>
            </li>
            <li>
              <a routerLink="/change-password" class="dropdown-item">
                <i class="fa fa-key text-warning me-2"></i> Change Password
              </a>
            </li>
            <li *ngIf="isUserAdmin()">
              <a routerLink="/remove-account" class="dropdown-item text-danger">
                <i class="fa fa-user-times me-2"></i> Remove Account
              </a>
            </li>
          </ul>
        </div>
<!--        <a href="contact.html" class="nav-item nav-link">Contact</a>-->
      </div>


    </div >
    <app-card *ngIf="isUserAuthenticated()" ></app-card>
  </nav>

  <div class="container-xxl py-5 bg-dark hero-header mb-5">
  </div>
</div>
<div class="nav-item nav-link active"> </div>
<!-- Navbar & Hero End -->
