<div class="card">
  <h1>Change Password</h1>
  <form>
    <label for="current">Current Password</label>
    <input #currentPassword  type="password" id="current" name="currentPassword" required />

    <label for="new">New Password</label>
    <input #newPassword type="password" id="new" name="newPassword" required />

    <label for="confirm">Confirm Password</label>
    <input #confirmNewPassword type="password" id="confirm" name="confirmPassword" required />

    <button (click)="changePassword(currentPassword,newPassword,confirmNewPassword)" type="submit">Change Password</button>
  </form>
</div>
<!-- Notification -->
<div *ngIf="messageEn || messageAr"
     class="notification"
     [ngClass]="{ 'success': isChanged, 'error': !isChanged }">
  <strong *ngIf="isChanged">✅ {{ messageEn }}</strong>
  <strong *ngIf="!isChanged">❌ {{ messageEn }}</strong>
  <div>{{ messageAr }}</div>
</div>
